.modal_wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1;
    .active_modal{
        width: 1200px;
        height: 800px;
    }
    

    .modal_wrapper_bg {
        position: relative;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.8;
    }

    .modal {
        .exit_btn {
            position: absolute;
            padding: 5px;
            border-radius: 5px;
            background-color: red;
            border: 1px solid black;
            top: -30px;
            left: 700px;
            z-index: 1;
        }

        .exit_btn:hover {
            cursor: pointer;
        }
        .large_img {
            transform: scale(0.5);
        }
        position: absolute;
        top: 10%;
        left: 25%;
    }

}
.active_window {
    display: flex;
}

.custom_slider {
    position: relative;

    .outer_container {
        overflow: hidden;
        margin: 0 auto;
        margin-bottom: 20px;

        .inner_container {
            width: 8000px;
            display: flex;
        }
    }

    .one_slide {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            width: 100%;
        }
    }

    .navs {
        display: flex;
        justify-content: center;

        &>a {
            color: black;
            text-decoration: none;
            font-size: 15px;
            border: 1px solid rgb(148, 147, 147);
            padding: 2px 20px;
            border-radius: 7px;
            font-weight: bold;
        }

        .prev_slide {
            background-color: rgb(148, 147, 147);
            position: absolute;
            top: 90%;
            left: 30%;
        }

        .next_slide {
            background-color: rgb(148, 147, 147);
            position: absolute;
            top: 90%;
            right: 30%;
        }

        .prev_slide:hover {
            background-color: rgb(92, 90, 90);
            border: 1px solid rgb(92, 90, 90);
        }

        .next_slide:hover {
            background-color: rgb(92, 90, 90);
            border: 1px solid rgb(92, 90, 90);
        }
    }

    .allDots {
        display: flex;
        justify-content: center;
    }

    .dot {
        width: 10px;
        height: 10px;
        background-color: rgb(148, 147, 147);
        border-radius: 10px;
        margin: 10px;
    }

    .dot:hover {
        background-color: rgb(92, 90, 90);
        cursor: pointer;
    }
    .active_dot {
        background-color: rgb(92, 90, 90);
    }
}